/* You can add global styles to this file, and also import other style files */

.text-light {
  color: #fff !important;
}

.btn {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}

a {
  text-decoration: none;
}
